<div class="container">
 <h1>Welcome to Josh and Azeem's world</h1>

  <font face="arial">

    <h3>You are now editing your post: <%= @post.title %> </h3>

    <form action="/posts/<%= @post.id %>" method="post">

      <input type="hidden" name="_method" value="put">
        <b>Body</b> <br>
        <textarea style="color: white; background-color: grey" cols="20" rows="5" name="post[body]"> <%= @post.body %>
        </textarea>
        <input type="submit">

    </form>

    <br>

  </FONT>
  <br><br><iframe src="http://free.timeanddate.com/clock/i4s93li3/n122/fn6/tt0" frameborder="1" width="310" height="18"></iframe>

</div>
