<div class="container">
 <h1>Welcome to Josh and Azeem's world</h1>

  <font face="arial">

    <h3>You are now creating a new post</h3>

    <form action="/create" method="post">

        <b>Title</b><br>
        <input style="color: white; background-color: grey" type="text"
        name="post[title]" value="Type here idiot">
        <br><br>

        <b>Body</b> <br>
        <textarea style="color: white; background-color: grey" cols="20" rows="5" name="post[body]">Tell us about your day!
        </textarea>
        <p><b>Tag</b>
        <input type="text" name="tag">
        <input type="submit">


    </form>

    <br>

  </FONT>
  <br><br><iframe src="http://free.timeanddate.com/clock/i4s93li3/n122/fn6/tt0" frameborder="1" width="310" height="18"></iframe>


</div>
